@import "global";
@import "vars";
@import "fonts";
// start header
.header {
    background-color: #0b1419;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
}
.header__item {
    li {
        display: inline-block;
        a {
            color: #fff;
            // line-height: 70px;
        }
    }
    li + li {
        margin-left: 44px;
    }
}
.header__tel {
    font-size: 16px;
    border: 3px solid #fff;
    padding: 10px 33px;
    border-radius: 50%;
    margin-left: 46px;
}
// end header
@import "media";
